{% extends 'website/base.html' %}
{% block content %}

{% if poll %}
<div class="col-6 offset-3">
  <div class="card">
    <div class="card-header text-center">
      <h4><b><i>Delete</i></b></h4>
    </div>
    <div class="card-body d-flex justify-content-center">
      <p>Are you sure you want to delete <i><b>{{poll}}</b></i> Survey?</p>
    </div>
    <div class="card-footer text-center">
      <form action="" , method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger" value="Delete">
        <a href="{% url 'polls' %}" class="btn btn-primary">Back</a>
      </form>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}